/* src/styles/MainLayout.css */
.main-layout {
  display: flex;
}

.main-contentSidebar {
  margin-left: 270px; /* Debe coincidir con el ancho del Sidebar */
  padding: 32px;
  flex: 1;
  background-color: #f5f7fa;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
